# web
NEXT_PUBLIC_API_URL=http://localhost:8000
API_INTERNAL_URL=http://localhost:8000

# api
API_HOST=0.0.0.0
API_PORT=8000
API_CORS_ORIGINS=["http://localhost:3000"]
API_ENV=development
API_DATABASE_URL=postgresql+psycopg://valt:valt@localhost:5432/valt
